@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

body {
  color: #333;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  letter-spacing: 0.1em;
}

.inner {
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .inner {
    padding: 0 16px;
  }
}

@media (max-width: 599px) {
  .inner {
    padding: 0 16px;
  }
}

header {
  padding: 40px 0 0 50px;
  height: 120px;
}

@media (max-width: 599px) {
  header {
    padding: 25px 0 0 25px;
  }
}

.header_logo {
  width: 100px;
  z-index: 101;
  position: fixed;
}

.header_logo.is-active {
  display: none;
}

.header_logo a img {
  width: 100%;
}

.header_logo_white {
  z-index: 100;
  width: 100px;
  position: fixed;
  top: 40px;
  left: 50px;
}

.header_logo_white a img {
  width: 100%;
}

.drawer-icon__bars {
  position: fixed;
  cursor: pointer;
  width: 100px;
  height: 100px;
  display: block;
  background-color: #FF2A2A;
  top: 0;
  right: 0;
  z-index: 100;
}

.drawer-icon__bars.is-active .drawer-icon__bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50px;
}

.drawer-icon__bars.is-active .drawer-icon__bar2 {
  display: none;
}

.drawer-icon__bars.is-active .drawer-icon__bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50px;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 50px;
  height: 2px;
  background: #fff;
  left: 25px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.drawer-icon__bar1 {
  top: 36px;
}

.drawer-icon__bar2 {
  top: 50px;
}

.drawer-icon__bar3 {
  top: 64px;
}

.drawer-content {
  background-color: #FF2A2A;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700%;
  z-index: 99;
  display: none;
}

.drawer-content.is-active {
  display: block;
  -webkit-transition: all  0.6s;
  transition: all  0.6s;
}

.drawer-content__items {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
}

.drawer-content__item {
  text-align: center;
  margin-top: 35px;
}

.drawer-content__item a {
  position: relative;
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.drawer-content__item a:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.drawer-content__item_button {
  text-align: center;
  margin-top: 40px;
}

.drawer-content__item_button a {
  display: inline-block;
  color: #fff;
  padding: 15px 47px;
  border: solid 1px #fff;
  position: relative;
  cursor: pointer;
  font-weight: 600;
}

.drawer-content__item_button a:hover {
  color: #FF2A2A;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.drawer-content__item_button a::after {
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  position: absolute;
  content: "";
  right: -6px;
  bottom: -6px;
  width: 250px;
  height: 40px;
}

#mainvisual {
  margin-bottom: 120px;
}

#mainvisual .text {
  position: absolute;
  top: 280px;
  left: 10%;
  z-index: 10;
}

@media (max-width: 599px) {
  #mainvisual .text {
    position: static;
    margin-top: 10px;
  }
}

#mainvisual .text .title {
  font-size: 46px;
  font-weight: 600;
  text-shadow: 0 4px 6px #fff;
}

@media (max-width: 599px) {
  #mainvisual .text .title {
    font-size: 38px;
  }
}

#mainvisual .text br {
  display: block;
  content: "";
  height: 30px;
}

.mainvisual_button {
  margin-top: 30px;
}

.mainvisual_button a {
  display: block;
  padding: 15px 135px;
  background-color: #FF0033;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  border-bottom: 6px solid #9a0413;
  position: relative;
}

@media (max-width: 599px) {
  .mainvisual_button a {
    text-align: center;
    font-size: 22px;
    padding: 15px 120px;
  }
}

.mainvisual_button a::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 18px;
  right: 35px;
}

.mainvisual_button a:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.slick {
  width: 75%;
  margin-left: auto;
}

@media (max-width: 599px) {
  .slick {
    width: 100%;
    margin-left: 0;
  }
}

.slick img {
  width: 100%;
}

#reason {
  margin-bottom: 120px;
}

.section_title {
  font-size: 36px;
  font-weight: 600;
  position: relative;
  margin-bottom: 100px;
  text-align: center;
}

@media (max-width: 599px) {
  .section_title {
    font-size: 28px;
  }
}

.section_title::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background-color: #333;
  display: block;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.bg {
  background-color: #FF2A2A;
  padding: 80px 0;
}

.slide-left {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  padding-left: 160px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  max-width: 700px;
  -webkit-box-shadow: 0 0 8px #808080;
          box-shadow: 0 0 8px #808080;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .slide-left {
    width: calc(100% - 16px);
    max-width: 100%;
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 599px) {
  .slide-left {
    width: calc(100% - 16px);
    max-width: 100%;
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 150px;
  }
}

.slide-right {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  padding-left: 160px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: auto;
  margin-top: 40px;
  max-width: 700px;
  -webkit-box-shadow: 0 0 8px #808080;
          box-shadow: 0 0 8px #808080;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .slide-right {
    width: calc(100% - 16px);
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
}

@media (max-width: 599px) {
  .slide-right {
    width: calc(100% - 16px);
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
    height: 150px;
  }
}

.pc {
  width: auto;
  height: 60px;
  margin-right: 30px;
}

.pc img {
  width: 100%;
}

.teacher {
  width: auto;
  height: 60px;
  margin-right: 30px;
}

.teacher img {
  width: 100%;
}

.slide_box {
  display: block;
}

.slide_box .title {
  color: #FF2A2A;
  font-weight: 600;
  font-size: 28px;
  display: block;
}

@media (max-width: 599px) {
  .slide_box .title {
    font-size: 24px;
  }
}

.slide_box .text {
  font-size: 18px;
  display: block;
  margin-top: 10px;
}

@media (max-width: 599px) {
  .slide_box .text {
    font-size: 16px;
  }
}

#voice {
  margin-bottom: 120px;
}

.voice_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.voice_item:first-child {
  margin-top: 0;
}

.voice_item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 599px) {
  .voice_item {
    display: block;
  }
}

@media (max-width: 599px) {
  .voice_student {
    text-align: center;
  }
}

.voice_student .student {
  width: 120px;
  background-color: #ccc;
  border-radius: 50%;
}

.voice_student .student img {
  width: 100%;
}

.voice_student .name {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.16667;
}

.voice_text {
  padding: 20px;
  width: 60%;
  line-height: 1.6875;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .voice_text {
    font-size: 14px;
  }
}

@media (max-width: 599px) {
  .voice_text {
    font-size: 14px;
    width: 100%;
    padding: 20px 0;
  }
}

#summary {
  background: url(../img/bg.gif) repeat;
  -webkit-animation: fall 10s infinite linear;
          animation: fall 10s infinite linear;
  padding: 60px 0;
}

@-webkit-keyframes fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}

@keyframes fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .menu {
    display: block;
  }
}

@media (max-width: 599px) {
  .menu {
    display: block;
  }
}

.menu li {
  padding: 60px;
  background-color: #fff;
  width: 48%;
  height: 283px;
  margin-bottom: 28px;
  border-radius: 20px;
  border: solid 1px #ccc;
  -webkit-box-shadow: 2px 2px 4px #808080;
          box-shadow: 2px 2px 4px #808080;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .menu li {
    width: 100%;
    padding: 30px;
  }
}

@media (max-width: 599px) {
  .menu li {
    width: 100%;
    padding: 30px;
    height: 216px;
  }
}

.menu li:nth-child(n+3) {
  margin-bottom: 0;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .menu li:nth-child(n+3) {
    margin-bottom: 28px;
  }
  .menu li:nth-child(n+3):nth-child(n+4) {
    margin-bottom: 0;
  }
}

@media (max-width: 599px) {
  .menu li:nth-child(n+3) {
    margin-bottom: 28px;
  }
  .menu li:nth-child(n+3):nth-child(n+4) {
    margin-bottom: 0;
  }
}

.menu-title .ja {
  font-size: 28px;
  font-weight: 600;
  display: block;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .menu-title .ja {
    font-size: 26px;
    text-align: center;
  }
}

@media (max-width: 599px) {
  .menu-title .ja {
    font-size: 24px;
    text-align: center;
  }
}

.menu-title .en {
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
  display: block;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .menu-title .en {
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 599px) {
  .menu-title .en {
    font-size: 14px;
    text-align: center;
  }
}

.menu_text {
  margin-top: 20px;
  line-height: 1.6875;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .menu_text {
    font-size: 14px;
    margin-top: 30px;
  }
}

@media (max-width: 599px) {
  .menu_text {
    font-size: 12px;
  }
}

#entry {
  margin: 120px 0;
}

#entry .inner {
  text-align: center;
}

#entry .inner .title {
  font-size: 32px;
  font-weight: 600;
}

@media (max-width: 599px) {
  #entry .inner .title {
    font-size: 24px;
    line-height: 1.5;
  }
}

#entry .inner .catchphrase {
  font-size: 18px;
  margin-top: 5px;
}

@media (max-width: 599px) {
  #entry .inner .catchphrase {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.625;
  }
}

#entry .inner .entry_button a {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  padding: 15px 0;
  width: 100%;
  border-radius: 40px;
  margin-top: 40px;
  background-color: #FF2A2A;
  display: block;
  -webkit-box-shadow: 2px 2px 4px #808080;
          box-shadow: 2px 2px 4px #808080;
}

@media (max-width: 599px) {
  #entry .inner .entry_button a {
    font-size: 24px;
  }
}

#entry .inner .entry_button a:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#footer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 60px 0;
}

@media (max-width: 599px) {
  #footer .inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 60px 16px;
  }
}

@media (max-width: 599px) {
  #footer .inner .footer_items {
    width: 50%;
  }
  #footer .inner .footer_items:nth-child(1) {
    margin-bottom: 30px;
  }
}

#footer .inner .footer_items .title {
  font-weight: 600;
}

#footer .inner .footer_items .footer_menu li {
  margin-top: 3px;
}

@media (max-width: 599px) {
  #footer .inner .footer_items .footer_menu li {
    width: 100%;
  }
}

#footer .inner .footer_items .footer_menu li:first-child {
  margin-top: 10px;
}

#footer .inner .footer_items .footer_menu li a {
  font-size: 14px;
  text-decoration: none;
  color: #333;
}

@media (max-width: 599px) {
  #footer .inner .footer_items .footer_menu li a {
    font-size: 12px;
  }
}

#footer .inner .footer_items .footer_menu li a:hover {
  opacity: 0.6;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

#footer .copyright {
  text-align: center;
  font-size: 10px;
  margin-bottom: 20px;
}
