* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
  }
  
  header, footer, nav, section, article, aside, figure, figcaption {
    display: block;
  }
  
  body {
    line-height: 1;
  }
  img {
    border: none;
    vertical-align: bottom;
  }
  a {
    cursor: pointer;
    text-decoration: none;
  }

  ol, ul {
    list-style: none;
    list-style-type: none;
  }

  $breakpoints: (
    "sp": "(max-width: 599px)",
    "tab": "(min-width: 600px) and (max-width: 1024px)",
    "pc": "(min-width: 1025px)",
    );



    //メディアクエリ
@mixin mq($breakpoint: sp) {
    //map-get(マップ型変数, キー)で値を取得
    @media #{map-get($breakpoints, $breakpoint)} {
        //この中をカスタムできる
        @content;
    }
    }


body {
    color: #333;
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    letter-spacing: 0.1em;
}
.inner{
    max-width: 860px;
    width: 100%;
    margin: 0 auto;

    @include mq('tab'){
        padding: 0 16px;
    }
    @include mq('sp'){
        padding: 0 16px;
    }
}
// header
header{
    padding: 40px 0 0 50px;
    height: 120px;
    @include mq('sp'){
        padding: 25px 0 0 25px;
    }

}
.header_logo{
    width: 100px;
    z-index: 101;
    position: fixed;
    &.is-active{
        display: none;
    }
    a{
        img{
            width: 100%;
        }
    }
}
.header_logo_white{
    z-index: 100;
    width: 100px;
    position: fixed;
    top: 40px;
    left: 50px;
    a{
        img{
            width: 100%;
        }
    }
}

// drawer

.drawer-icon__bars{
    position: fixed;
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: block;
    background-color: #FF2A2A;
    top: 0;
    right: 0;
    z-index: 100;

    
    &.is-active{
        .drawer-icon__bar1{
            transform: rotate(-45deg);
            top: 50px;
        
        }
        .drawer-icon__bar2{
            display: none;
        
        }
        .drawer-icon__bar3{
            transform: rotate(45deg);
            top: 50px;
        }

    }
}
.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3{
    position: absolute;
    width: 50px;
    height: 2px;
    background: #fff;
    left: 25px;
    transition: 0.3s ease-in-out;
}

.drawer-icon__bar1{
    top: 36px;

}
.drawer-icon__bar2{
    top: 50px;

}
.drawer-icon__bar3{
    top: 64px;
}
.drawer-content{
    background-color: #FF2A2A;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700%;
    z-index: 99;
    display: none;
    

    &.is-active{
        display: block;
        transition: all  0.6s ;

    }
}
.drawer-content__items{
    position: sticky;
    top: 120px;
}
.drawer-content__item{
    text-align: center;
    margin-top: 35px;
    
    a{
        position: relative;
        display: inline-block;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        
        &:hover{
            opacity: 0.5;
            transition: 0.3s ease-in-out;
        }
    }
}
.drawer-content__item_button{
    text-align: center;
    margin-top: 40px;
    
    a{
        display: inline-block;
        color: #fff;
        padding: 15px 47px;
        border: solid 1px #fff;
        position: relative;
        cursor: pointer;
        font-weight: 600;
        &:hover{
            color: #FF2A2A;
            background-color: #fff;
            transition: 0.3s ease-in-out;
        }
        &::after{
            border-right: solid 1px #fff;
            border-bottom: solid 1px #fff;
            position: absolute;
            content: "";
            right: -6px;
            bottom: -6px;
            width: 250px;
            height: 40px;
        }
    }
}

// メインビジュアル
#mainvisual{
    margin-bottom: 120px;
    .text{
        position: absolute;
        top: 280px;
        left: 10%;
        z-index: 10;
        @include mq('sp'){
            position: static;
            margin-top: 10px;
        }
        .title{
            font-size: 46px;
            font-weight: 600;
            text-shadow: 0 4px 6px #fff;
            @include mq('sp'){
                font-size: 38px;
            }
        }
        br{
            display: block;
            content: "";
            height: 30px;
        }
    }
}
.mainvisual_button{
    margin-top: 30px;
    a{
        display: block;
        padding: 15px 135px;
        background-color: #FF0033;
        border-radius: 10px;
        color: #fff;
        font-size: 24px;
        border-bottom: 6px solid #9a0413;
        position: relative;
        @include mq('sp'){
            text-align: center;
            font-size: 22px;
            padding: 15px 120px;
        }
        &::after{
            position: absolute;
            content: "";
            width: 16px;
            height: 16px;
            border-top: solid 3px #fff;
            border-right: solid 3px #fff;
            transform: rotate(45deg);
            top: 18px;
            right: 35px;
        }
        &:hover{
            opacity: 0.9;
            transform: scale(1.05);
            transition: 0.3s ease-in-out;
        }
    }
}
.slick{
    width: 75%;
    margin-left: auto;
    @include mq('sp'){
        width: 100%;
        margin-left: 0;
    }
        img{
            width: 100%;
    }
}

// reason
#reason{
    margin-bottom: 120px;
}
.section_title{
    font-size: 36px;
    font-weight: 600;
    position: relative;
    margin-bottom: 100px;
    text-align: center;
    @include mq('sp'){
        font-size: 28px;
    }

    &::after{
        position: absolute;
        content: "";
        width: 100px;
        height: 3px;
        background-color: #333;
        display: block;
        bottom: -30px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
.bg{
    background-color: #FF2A2A;
    padding: 80px 0;
}
// .slide{
//     background-color: #fff;
//     display: flex;
//     width: 50%;
//     align-items: center;
//     height: 200px;
//     padding-left: 160px;
//     border-top-right-radius: 20px;
//     border-bottom-right-radius: 20px;
//     &:last-of-type{
//         margin-left: auto;
//         margin-top: 40px;
//         border-top-left-radius: 20px;
//         border-bottom-left-radius: 20px;
//         border-top-right-radius: 0;
//         border-bottom-right-radius: 0;
//     }
// }
.slide-left{
    background-color: #fff;
    display: flex;
    width: 50%;
    align-items: center;
    height: 200px;
    padding-left: 160px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    max-width: 700px;
    box-shadow: 0 0 8px #808080;

    @include mq('tab'){
        width: calc(100% - 16px);
        max-width: 100%;
        padding-left: 0;
        justify-content: center;   
    }
    @include mq('sp'){
        width: calc(100% - 16px);
        max-width: 100%;
        padding-left: 0;
        justify-content: center;   
        height: 150px;

    }
}
// .inview-slide-left{
//     animation: SlideInLeft 1s;
// }
// @keyframes SlideInLeft{
//     0%{
//         opacity: 0;
//         transform: translateX(-700px);
//     }
//     100%{
//         opacity: 1;
//         transform: translateX(0);
//     }
// }
.slide-right{
    background-color: #fff;
    display: flex;
    width: 50%;
    align-items: center;
    height: 200px;
    padding-left: 160px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: auto;
    margin-top: 40px;
    max-width: 700px;
    box-shadow: 0 0 8px #808080;

    @include mq('tab'){
        width: calc(100% - 16px);
        max-width: 100%;
        justify-content: center;
        padding-left: 0;
    }
    
    @include mq('sp'){
        width: calc(100% - 16px);
        max-width: 100%;
        justify-content: center;
        padding-left: 0;
        height: 150px;
    }
}
// .inview-slide-right{
//     animation: SlideInRight 1s;

// }
// @keyframes SlideInRight{
//     0%{
//         opacity: 0;
//         transform: translateX(700px);
//     }
//     100%{
//         opacity: 1;
//         transform: translateX(0);
//     }
// }



.pc{
    width: auto;
    height: 60px;
    margin-right: 30px;
    img{
        width: 100%;
    }
}
.teacher{
    width: auto;
    height: 60px;
    margin-right: 30px;
    img{
        width: 100%;
    }

}
.slide_box{
    display: block;
    .title{
        color: #FF2A2A;
        font-weight:600;
        font-size: 28px;
        display: block;
        @include mq('sp'){
            font-size: 24px;
        }
    }
    .text{
        font-size: 18px;
        display: block;
        margin-top: 10px;
        @include mq('sp'){
            font-size: 16px;
        }
    }
}
// voice
#voice{
    margin-bottom: 120px;
    
}
.voice_list{

}
.voice_item{
    display: flex;
    margin-top: 60px;
    &:first-child{
        margin-top: 0;
    }
    &:nth-child(even){
        flex-direction: row-reverse;
    }
    @include mq('sp'){
        display: block;
    }

}
.voice_student{
    @include mq('sp'){
        text-align: center;
    }
    .student{
        width: 120px;
        background-color: #ccc;
        border-radius: 50%;
        img{
            width: 100%;
        }
        
    }
    .name{
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
        line-height: (14 / 12);

    }
}
.voice_text{
    padding: 20px;
    width: 60%;
    line-height: (27 / 16);
    @include mq('tab'){
        font-size: 14px;
    }
    @include mq('sp'){
        font-size: 14px;
        width: 100%;
        padding: 20px 0;
    }
}
//summary
#summary{
    background: url(/img/bg.gif) repeat ;
    animation: fall 10s infinite linear;
    padding: 60px 0;
}
@keyframes fall {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -700px 700px;
    }
}
.menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mq('tab'){
        display: block;
    }
    @include mq('sp'){
        display: block;
    }
    li{
        padding: 60px;
        background-color: #fff;
        width: 48%;
        height: 283px;
        margin-bottom: 28px;
        border-radius: 20px;
        border: solid 1px #ccc;
        box-shadow: 2px 2px 4px #808080;

        @include mq('tab'){
            width: 100%;
            padding: 30px;
        }
        @include mq('sp'){
            width: 100%;
            padding: 30px;
            height: 216px;

        }
        &:nth-child(n+3){
            margin-bottom: 0;
            @include mq('tab'){
                margin-bottom: 28px;
                &:nth-child(n+4){
                    margin-bottom: 0;
                }
            }
            @include mq('sp'){
                margin-bottom: 28px;
                &:nth-child(n+4){
                    margin-bottom: 0;
                }
            }
        }
    }
}

.menu-title{
    .ja{
        font-size: 28px;
        font-weight: 600;
        display: block;
        @include mq('tab'){
            font-size: 26px;
            text-align: center;
        }
        @include mq('sp'){
            font-size: 24px;
            text-align: center;
        }
    }
    .en{
        font-size: 18px;
        font-weight: 600;
        margin-top: 15px;
        display: block;
        @include mq('tab'){
            font-size: 16px;
            text-align: center;
        }
        @include mq('sp'){
            font-size: 14px;
            text-align: center;
        }
    }
}
.menu_text{
    margin-top: 20px;
    line-height: (27/16);

    @include mq('tab'){
        font-size: 14px;
        margin-top: 30px;
    }
    @include mq('sp'){
        font-size: 12px;
    }
}
// entry
#entry{

    margin:120px 0;
    .inner{
        text-align: center;
        .title{
            font-size: 32px;
            font-weight: 600;
            @include mq('sp'){
                font-size: 24px;
                line-height: (36 / 24);
            }
        }
        .catchphrase{
            font-size: 18px;
            margin-top: 5px;
            @include mq('sp'){
                font-size: 16px;
                margin-top: 10px;
                line-height: (26 / 16);
            }
        }
        .entry_button{
            a{
                font-size: 28px;
                font-weight: 600;
                color: #fff;
                padding:15px 0 ;
                width: 100%;
                border-radius: 40px;
                margin-top: 40px;
                background-color: #FF2A2A;
                display: block;
                box-shadow: 2px 2px 4px #808080;

                @include mq('sp'){
                    font-size: 24px;
                }
                &:hover{
                    opacity: 0.9;
                    transform: scale(1.05);
                    transition: 0.3s ease-in-out;
                }
            }
        }
    }
}
#footer{
    .inner{
        display: flex;
        justify-content: space-around;
        padding:60px 0 ;
        @include mq('sp'){
            flex-wrap: wrap;
            padding: 60px 16px;
        }

        .footer_items{
            @include mq('sp'){
                width: 50%;
                &:nth-child(1){
                    margin-bottom: 30px;
                }
            }
            .title{
                font-weight: 600;

            }
            .footer_menu{
                li{
                    margin-top: 3px;
                    @include mq('sp'){
                        width: 100%;
                    }
                    &:first-child{
                        margin-top: 10px;
                    }
                    a{
                        font-size: 14px;
                        text-decoration: none;
                        color: #333;
                        @include mq('sp'){
                            font-size: 12px;
                        }
                        &:hover{
                            opacity: 0.6;
                            transition: ease 0.3s;
                        }
                    }
                }
            }
        }
    }
    .copyright{
        text-align: center;
        font-size: 10px;
        margin-bottom: 20px;
    }
}